<!-- START of: finna: RecordDriver/DefaultRecord/result-map.phtml -->
<?php

    // NOTE: These should actually go into their own menthods on the SolrEad class but due to some
    // problems regarding debugging and creating vufind modules, they appear hear for now...

    /**
     * Get raw data 
     */
    $raw_data = $this->driver->getRawData();

    if ($this->layout()->userLang === "fi") {
        $lang = "fin";
    } else {
        $lang = "swe";
    }

    /**
     *  Get fullrecord as associative array
     */ 
    $data = get_relevant_data($raw_data["fullrecord"]);

    /**
     *  Get the coordinates
     */
    $coords = false;
    if (!empty($data["geo"]) && !empty($data["geo"]["lat"])) {
        $lat = $data["geo"]["lat"];
        $long = $data["geo"]["long"];
        $coords = true;
    }

    $location_levels = "";
    if (!empty($data["geo"][$lang]["levels"][0])) {
        $l = $data["geo"][$lang]["levels"];
        $first = $l[0];
        $location_levels = $first;
        for ($i=1; $i<count($l); $i++) {
            if ($l[$i] == $first)
                break;
            $location_levels .= "|" . $l[$i];
        }
    }

    /**
     *  Set title & description
     */
    $summHighlightedTitle = $this->driver->getHighlightedTitle();
    $summTitle = $this->driver->getTitle();
    if (!empty($summHighlightedTitle)) {
      $title = $this->highlight($this->addEllipsis($summHighlightedTitle, $summTitle));
    } elseif (!empty($summTitle)) {
      $title = $this->escapeHtml($this->truncate($summTitle, 180));
    } else {
      $title = $this->transEsc('Title not available');
    }
    
    $description = isset($raw_data["description"]) ? $raw_data["description"] : "";
    $title_short = isset($raw_data["title_short"]) ? $raw_data["title_short"] : "";
    $geographic = "";
    if(!empty($raw_data["geographic_facet"]))
       $geographic = join(",",$raw_data["geographic_facet"]);
    $id = md5($raw_data["id"]);
    //var_dump(array_keys($raw_data));
    
    
    /**
     * Set up audio/video player urls
     */ 
    $urls = $this->record($this->driver)->getLinkDetails();
    $audio = false;
    if (!empty($urls)) {
        $videoUrls = [];
        $audioUrls = [];
        $otherUrls = [];
        foreach ($urls as $url){
          if (!empty($url['videoSources']) || !empty($url['embed']) && $url['embed'] == 'video' || $this->recordLink()->getEmbeddedVideo($url['url']) == 'data-embed-iframe'){
            array_push($videoUrls, $url);
          } elseif (!empty($url['embed']) && $url['embed'] == 'audio') {
            array_push($audioUrls, $url);
            $audio = true;
          } else {
            array_push($otherUrls, $url);
          }
        }
    }
?>


<?php if ($coords != false): ?>
<div class="<?=$this->driver->supportsAjaxStatus()?'ajaxItem ':''?> list-map--item"
  data-lat="<?=$lat;?>"
  data-long="<?=$long;?>"
  data-town="<?=$data["geo"][$lang]["town"];?>"
  data-region="<?=$data["geo"][$lang]["region"];?>"
  data-locationlevels="<?= $location_levels;?>"
  id="record-<?= $id; ?>"
  data-format="<?=$data["format"]?>">
    
  <?= $title; ?><span class="sr-only"> <?=$this->transEsc('To the record')?></span>
  <div class="resultItemFormat"><?=$this->record($this->driver)->getFormatList() ?></div>
  <div class="sidebarcontent">
 
      <h2><?= $title; ?></h2>
      <p><?= $description; ?></p>
        <?php if (!empty($audioUrls)) {
            foreach ($audioUrls as $key => $urlData) {
                ?>
                <audio controls>
                  <source src="<?= $urlData["url"]; ?>" type="audio/mp3">
                  <p><a href="<?=$this->recordLink()->getUrl($this->driver)?>" class="button">To the record</a></p>
                </audio>
                <?php
            }
        }
        ?>
        <?php 
            $has_image = count($this->driver->getAllImages()) > 0;
            $img = $this->recordImage($this->record($this->driver));
        ?>
        <?php if($has_image): ?>
            <div class="text-center grid-image">
              <?=$img->render('list grid', ['medium' => ['w' => 600, 'h' => 600]]) ?>
            </div>
        <?php endif; ?>

    <p><a href="<?=$this->recordLink()->getUrl($this->driver)?>" class="button">To the record</a></p>
  </div>
</div>
<?php endif; ?>
<!-- END of: finna: RecordDriver/DefaultRecord/result-map.phtml -->
